extensions:
    profiler: Netpromotion\Profiler\Extension\ProfilerNetteExtension

application:
    scanDirs: false
    mapping:
        *: Netpromotion\Profiler\Demo\Nette\*Module\Presenter\*Presenter

services:
    router: Nette\Application\Routers\SimpleRouter('Homepage:default')