extensions:
    profiler: Netpromotion\Profiler\Extension\ProfilerNetteExtension

profiler:
    profile:
        createService: true
    bar:
        show:
            memoryUsageChart: true
            shortProfiles: true

application:
    scanDirs: false
    mapping:
        *: Netpromotion\Profiler\Demo\Nette\*Module\Presenter\*Presenter

services:
    router: Nette\Application\Routers\SimpleRouter('Homepage:default')