tracy:
    bar:
        - Netpromotion\Profiler\Adapter\TracyBarAdapter::create()

application:
    scanDirs: false
    mapping:
        *: Netpromotion\Profiler\Demo\*Module\Presenter\*Presenter

services:
    router: Nette\Application\Routers\SimpleRouter('Homepage:default')